@charset "utf-8";

body {
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}

@media (max-width: 900px) {
	html { font-size: 12px; }
}
@media (max-width: 400px) {
	html { font-size: 10px; }
}


section.content {
	position: relative;
	width: 800px;
	margin: auto;
}

p {
	text-align: justify;
}

section.content > p {
	width: 800px;
}

section.content > aside {
	position: absolute;
	left: 830px;
	width: 250px;
	color: #999;
	font-size: 0.8rem;
}

iframe {
	width: 760px;
	border: none;
	height: 500px;
	overflow: hidden;
}

figure {
	padding: 0px 20px;
}

figcaption {
	font-size: .8rem;
	padding: 5px 0px;
}