@import "bourbon/bourbon";

footer {
	width: 100%;
	padding: .5rem 0;
}

footer p {
	margin: 0;
	padding-right: 10px;
	font-size: .7rem;
	text-align: right;
}

section {
	@include display(flex);
	@include justify-content(center);
}

#filters {
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	@include flex-direction(column);
}

#smallCharts {
	@include display(flex);
	@include justify-content(stretch);
	@include align-items(stretch);
}

.filter, .reset {
	font-size: .6rem;
}

#smallCharts > div {
	width: 33.3%;
}

@media all and (orientation: landscape) {
	section {
		@include flex-direction(row);
	}

	#choropleth {
		width: 38.2%;
	}

	#filters {
		width: 61.8%;
	}

	#histogram {
		width: 100%;
	}

	#smallCharts {
		width: 100%;
	}

}

@media all and (orientation: portrait) {
	section {
		@include flex-direction(column);
	}

	#choropleth {
		width: 100%;
	}

	#filters {
		width: 100%;
	}

	#histogram {
		width: 100%;
	}

	#smallCharts {
		width: 100%;
	}
}

h1 {
	font-size: 1.5rem;
	text-align: center;
	margin: .5rem 0;
}

h2 {
	font-size: 1rem;
	display: inline;
	margin: 2px;
}

#choropleth path{
	stroke: gray;
	stroke-linejoin: round;
}

#choropleth {
	position: relative;
	padding: 0px;
	margin: 0px;
}

aside > div {
	padding: 0px;
	margin: 0px;	
}

#legend {
    position: absolute;
    top: 3rem;
    left: 1rem;
    height: 40%;
    min-height: 12rem;
}

.list-inline {
	border: 1px solid lightgray;
    padding: 5px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: stretch;
}

.list-inline, .list-inline>li {
	list-style: none;
	margin: 0;
}

li.key {
	padding: 0;
	display: block;
	flex-grow: 1;
    border-left-width: 15px;
    border-left-style: solid;
    font-size: .7rem;
    height: 1.6rem;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: .2rem;
}

.clearfix {
	clear: both;
}

.dc-chart g.row text {
	fill: black;
	font-size: 0.8rem;
}