#basic-histogram {
	font-size: .6rem;
}

#basic-histogram .bar {
  fill: steelblue;
  shape-rendering: crispEdges;
}

#basic-histogram .axis path, #basic-histogram .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
