@charset "utf-8";

html, body {
	font-size: 16px;
	font-family: "Times New Roman", serif;
}

.content {
	width: 800px;
	margin: auto;
}

@media (max-width: 900px) {
	html, body { font-size: 14px; }
	.content {
		width: 90%;
	}
}
@media (max-width: 400px) {
	html, body { font-size: 12px; }
}

p {
	text-align: justify;
}

.graph-img img {
	width: 100%;
}

.graph-img span {
	text-align: center;
	display: block;
}

footer {
	margin: 2% 0;
}

footer div {
	text-align: center;
}

footer img {
	padding: 0 5%;
}