<div class="reset filter-panel" style="display: none;">
	<a class="button-link" href="javascript:<%= chart_name %>.filterAll();dc.redrawAll();" >Show All</a>
	<div class="filter-detail">
		<span>Current filter: <span class="filter"></span></span> 
	</div>
</div>
