<%= stylesheet_link_tag "dc", "dc_map" %>

<h1>Reported Rat Sightings in NYC from 2010 to 2014</h1>
<section>
	<div id="choropleth">
		<div id="legend"></div>
		<div>
			<h2>By Zip Code</h2>
			<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
			<a class="reset" href="javascript:choropleth.filterAll();dc.redrawAll();" style="display: none;">reset</a>
		</div>
	</div>
	<aside id="filters">
		<div id="histogram">
			<div>
				<h2>By Month</h2>
				<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
				<a class="reset" href="javascript:histogram.filterAll();dc.redrawAll();" style="display: none;">reset</a>
			</div>
		</div>
		<div id="pie">
			<div>
				<h2>By Borough</h2>
				<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
				<a class="reset" href="javascript:pie.filterAll();dc.redrawAll();" style="display: none;">reset</a>
			</div>
		</div>
	</aside>
</section>

<script src="http://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.min.js"></script>
<%= javascript_include_tag  "d3", "dc", "ratviz" %>
