<h1>Reported Rodent Complaints in NYC from 2010 to 2014</h1>
<section>
	<div id="choropleth">
		<div id="legend"></div>
		<div>
			<h2>By Zip Code</h2>
			<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
			<a class="reset" href="javascript:choropleth.filterAll();dc.redrawAll();" style="display: none;">reset</a>
		</div>
	</div>
	<aside id="filters">
		<div id="smallCharts">
			<div id="boroughRow">
				<div>
					<h2>By Borough</h2>
					<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
					<a class="reset" href="javascript:boroughRow.filterAll();dc.redrawAll();" style="display: none;">reset</a>
				</div>
			</div>
			<div id="topZipCodes">
				<div>
					<h2>Top 5 Zip Codes</h2>
					<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
					<a class="reset" href="javascript:topZipCodes.filterAll();dc.redrawAll();" style="display: none;">reset</a>
				</div>
			</div>
			<div id="typeRow">
				<div>
					<h2>By Complaint Type</h2>
					<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
					<a class="reset" href="javascript:typeRow.filterAll();dc.redrawAll();" style="display: none;">reset</a>
				</div>
			</div>
		</div>
		<div id="histogram">
			<div>
				<h2>By Month</h2>
				<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
				<a class="reset" href="javascript:histogram.filterAll();dc.redrawAll();" style="display: none;">reset</a>
			</div>
		</div>
	</aside>
</section>
<footer>
	<p>Data Source: <a href="https://data.cityofnewyork.us/Social-Services/Rodent-Complaints-2010-to-Present/ahx2-5kkr">NYC Open Data</a></p>
	<p>Thanks to Jon Roberts for his <a href="https://github.com/jonroberts/d3Mapping">NYC Zip Code Map</a>
	</p>
</footer>

<script src="http://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<%= javascript_include_tag  "d3", "dc", "ratviz" %>
