---
title: Welcome
---

<div>
  <h1>Visualization of Rat Sightings in NYC</h1>
  <div id="d3_histogram"></div>
  <div id="rickshaw_histogram"></div>
</div>
<%= javascript_include_tag  "histogram" %>
<%= javascript_include_tag  "rickshaw_hist" %>
