---
title: Rat Sightings in NYC
---
<section class="content">
<h1>Visualization of Rat Sightings in NYC</h1>

<p>
	Rats! At times, they seem to be everywhere in New York City, scurrying across the subway tracks or into an dark alley.  They carry a variety of infectious bacteria, as a <a href="http://www.nydailynews.com/life-style/health/rats-nyc-carry-variety-infectious-bacteria-study-article-1.1974415">recent study</a> by researchers at Columbia University found.
	The city of New York was rated the <a href="http://www.prnewswire.com/news-releases/chicago-holds-top-spot-on-rattiest-cities-list-278988971.html">4th rattiest city</a> in the country by Orkin.  
</p>

<p>
	The city makes much of its data on reported rat and rodent sightings available to the public. The visualization below uses the data from 311 calls to show how rat sightings vary over time and location.
</p>

<figure>
	<iframe src="dc_map.html" scrolling="no"></iframe>
	<figcaption><a href="dc_map.html">[+] View a larger version of this graphic</a></figcaption>
</figure>

<p>Time is particularly relevant because NYC is in the process of piloting <a href="http://www.nytimes.com/2013/03/12/nyregion/as-rats-escape-death-mta-turns-to-sterilization.html">a new rat control program</a> that uses a chemical, ContraPest® from <a href="http://senestech.com/">SenesTech Inc.</a>, to reduce rat fertility.</p>

<p>For the scientifically inclined, the main active ingredient in ContraPest is 4-vinylcyclohexene diepoxide (VCD).  This <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3307534/">paper</a> provides a good overview of what scientists know about its mechanism of action and effects.  In short, it seems to cause early menopause in female rats.</p>

<p>If the pilot portion of the study being conducted in 2014 is successful and NYC rolls out the program on a wider basis, the number of rat sightings over time should go down.</p>

<p>You can clearly see some seasonal variation in the data.  The most dominant species of rat in NYC, the brown rat (rattus norvegicus), breeds year-around but mates more frequently in <a href="http://animaldiversity.ummz.umich.edu/accounts/Rattus_norvegicus/" title="University of Michigan Animal Diversity Web">the warmer months of the year</a> so this is a likely explanation for the variation.</p>

<section>
