---
title: RatGraph.nyc Interactive Visualization
---
<h1><a href="/">RatGraph.nyc</a>: Reported Rodent Complaints in NYC from 2010 to 2014</h1>
<section id="graph" style="visibility: visible;">
	<div id="choropleth">
		<div id="legend"># Complaints</div>
		<div>
			<h2>By Zip Code</h2>
			<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
			<a class="reset" href="javascript:choropleth.filterAll();dc.redrawAll();" style="display: none;">reset</a>
		</div>
	</div>
	<aside id="filters">
		<div id="demographicBubble">
			<div>
				<h2>Population Density vs. Median Income</h2>
				for <select id="topSelect">
					<option value="5">Top 5</option>
					<option value="10">Top 10</option>
					<option value="20">Top 20</option>
					<option value="all">All</option>
				</select> Zip Codes
				<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
				<a class="reset" href="javascript:bubble.filterAll();dc.redrawAll();" style="display: none;">reset</a>
			</div>
		</div>
		<div id="smallCharts">
			<div id="boroughRow">
				<div>
					<h2>By Borough</h2>
					<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
					<a class="reset" href="javascript:boroughRow.filterAll();dc.redrawAll();" style="display: none;">reset</a>
				</div>
			</div>
			<div id="topZipCodes">
				<div>
					<h2>Top 5 Zip Codes</h2>
					<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
					<a class="reset" href="javascript:topZipCodes.filterAll();dc.redrawAll();" style="display: none;">reset</a>
				</div>
			</div>
			<div id="typeRow">
				<div>
					<h2>By Complaint Type</h2>
					<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
					<a class="reset" href="javascript:typeRow.filterAll();dc.redrawAll();" style="display: none;">reset</a>
				</div>
			</div>
		</div>
		<div id="histogram">
			<div>
				<h2>By Month</h2>
				<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
				<a class="reset" href="javascript:histogram.filterAll();dc.redrawAll();" style="display: none;">reset</a>
			</div>
		</div>
	</aside>
</section>

<script src="http://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<%= javascript_include_tag  "dc", "lib/spin.min", "lib/dc.leaflet", "ratviz" %>
