.interactive section {
	@include display(flex);
}

#filters {
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	@include flex-direction(column);
}

#smallCharts {
	@include display(flex);
	@include justify-content(stretch);
	@include align-items(stretch);
}

.filter, .reset {
	font-size: .7rem;
}

#smallCharts > div {
	width: 33.3%;
}

#filters > div {
	width: 100%;
}

.interactive {
	margin: 10px;
}

@media all and (orientation: landscape) {
	.interactive section {
		@include flex-direction(row);
		@include align-items(flex-start);
	}

	#choropleth-wrapper {
		width: 50%;
	}

	#filters {
		width: 50%;
		margin-left: 10px;
	}

	#histogram {
		width: 100%;
	}

	#smallCharts {
		width: 100%;
	}

}

@media all and (orientation: portrait) {
	.interactive section {
		@include flex-direction(column);
		@include justify-content(center);
	}

	#filters {
		padding: 0px 10px;
	}

	#histogram {
		width: 100%;
	}

	#smallCharts {
		width: 100%;
	}
}

#choropleth {
	position: relative;
	width: 100%;
	border: 1px solid lightgray;
}

.interactive h1 {
	font-size: 1.5rem;
	text-align: center;
	margin: .5rem 0;
}

.interactive h2 {
	font-size: 1rem;
	display: inline;
	margin: 2px;
}

#choropleth-wrapper {
	padding: 0px 10px;
	margin: 0px;
}

.interactive aside > div {
	padding: 0px;
	margin: 0px;	
}

#legend, #clear-map-button {
	position: absolute;
	right: 10px;
    z-index: 9999999;
    width: 30%;
    max-width: 150px;
}

#legend {
	font-size: 0.7rem;
	font-family: "Times New Roman", serif;
	padding-left: 5px;
    top: 10px;
    background-color: white;
	border: 1px solid lightgray;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
}

#legend ul {
    padding: 3px 5px 3px 0px;
}

#legend ul, #legend li {
	list-style: none;
	margin: 0;
}

#legend li {
	display: inline-block;
    border-top-width: 0.75rem;
    border-top-style: solid;
    font-size: .6rem;
    width: 20%;
    padding-left: 0;
    padding-right: 0;
}

#clear-map-button {
	top: 65px;
	text-align: center;
}

#clear-map-button .button-link {
	color: white;
}

.dc-chart g.row text {
	fill: black;
	font-size: 0.8rem;
}

.dc-chart .y-axis-label, .dc-chart .x-axis-label {
	font-size: 0.8rem;
	font-family: "Times New Roman", serif;
}

.dc-chart .axis text {
	font-size: 0.7rem;
	font-family: "Times New Roman", serif;
}
